body {
    background-image: linear-gradient(#87cefa, #CAE1FF);
    width: 500px;
    height: 100vh;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;

}

.date-weather-icon {
    align-items: center;
    font-size: 1.5rem;
}

#weather-settings {
    margin: 30px;
}

.oneDay {
    width: 200px;
    height: 400px;
    margin: auto;
}

.weather-icon {
    width: auto;
    height: auto;
}