body {
    background-color: #CAE1FF;
    width: 500px;
    margin: 50px auto;
}

.flex {
    display: flex;

}

#weather-settings {
    margin: 30px;
}

.oneDay {
    width: 200px;
    height: 400px;
    margin: auto;
}

.weather-icon {
    width: auto;
    height: auto;
}