body {
    background-color: #CAE1FF;
    width: 500px;
    margin: 50px auto;
}

#weather-settings {
    margin: 30px;
}

.oneDay {
    width: 200px;
    height: 400px;
    margin: auto;
}